body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
}

.image-container {
    display: flex;
    gap: 40px;
}

.character {
    text-align: center;
}

.character img {
    border-radius: 30px;
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.character p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: auto;
    width: auto;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    
}
#videoBG {
    position: fixed;
    z-index: -1;

    width: 100%;
    height: auto;
}
.page-title {
    position: absolute;
    height: 95%;
    text-align: center;
    font-size: 60px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background: linear-gradient(90deg, #62ddff, #5e69ff, rgb(236, 25, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    border: line;
    border-radius: 0%;
}